fastapi==0.105.0
uvicorn==0.24.0.post1
python-multipart==0.0.6
sqlalchemy==2.0.23
langchain==0.0.350
langchain-community==0.3.12
python-dotenv==1.0.0
PyPDF2==3.0.1
chromadb==0.4.18
sentence-transformers==2.2.2
pydantic==2.5.2
typing-extensions==4.9.0
langchain_google_genai==2.0.7
faiss-cpu==1.9.0.post1
google-generativeai==0.8.3